<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Form</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div th:replace="base :: navlinks"></div>

<form action="#" th:action="@{/process_test}" th:object="${test}" method="post">
    <input type="hidden" th:field="*{testID}">

    Subject: <input type="text" th:field="*{subject}"><br />
    <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span><br />

    Date: <input type="text" th:field="*{date}"><br />
    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span><br />

    Score: <input type="number" th:field="*{score}"><br />
    <span th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></span><br />


    <select name="department" th:field="*{student}">
        <option th:each="student : ${students}"
                th:value="${student.studentID}"
                th:text="${student.last_name}"></option>
    </select>
    <input type="submit" value="Submit">
</form>

<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>